<h2 for-each="now" as="course" run-if="course">Maintenant</h2>
<div for-each="now" as="course" run-if="course" class="ui card" style="width: 100%">
    <div class="content">
        <div class="header">{{course.module}}</div>
        <div class="meta">
            <span class="date">
                {{course.start.toLocaleTimeString()}}
                -
                {{course.end.toLocaleTimeString()}}
            </span>
        </div>
    </div>
    <div class="extra content">
        <div>
            <i class="user icon"></i>
            {{course.teacher}}
        </div>
    </div>
</div>

<h2 for-each="next" as="course" run-if="course">Prochain cours</h2>
<div for-each="next" as="course" run-if="course" class="ui card" style="width: 100%">
    <div class="content">
        <div class="header">{{course.module}}</div>
        <div class="meta">
            <span class="date">
                {{course.start.toLocaleTimeString()}}
                -
                {{course.end.toLocaleTimeString()}}
            </span>
        </div>
    </div>
    <div class="extra content">
        <div>
            <i class="user icon"></i>
            {{course.teacher}}
        </div>
    </div>
</div>
