<h2 for-each="start" as="course">Demain vous commencez avec</h2>
<div for-each="start" as="course" class="ui card" style="width: 100%">
    <div class="content">
        <div class="header">{{course.module}}</div>
        <div class="meta">
            <span class="date">
                {{course.start.toLocaleTimeString()}}
                -
                {{course.end.toLocaleTimeString()}}
            </span>
        </div>
    </div>
    <div class="extra content">
        <div>
            <i class="user icon"></i>
            {{course.teacher}}
        </div>
    </div>
</div>

<h2 for-each="end" as="course">Demain vous finissez avec</h2>
<div for-each="end" as="course" class="ui card" style="width: 100%">
    <div class="content">
        <div class="header">{{course.module}}</div>
        <div class="meta">
            <span class="date">
                {{course.start.toLocaleTimeString()}}
                -
                {{course.end.toLocaleTimeString()}}
            </span>
        </div>
    </div>
    <div class="extra content">
        <div>
            <i class="user icon"></i>
            {{course.teacher}}
        </div>
    </div>
</div>
