<div class="ui left vertical menu sidebar">
    <a for-each="pages" as="page" run-if="page.showInMenu" href="{{page.url}}" class="item">
        <img src="{{page.icon}}" alt="" class="icon" style="display: inline-block !important; width: 2.5em;">
        {{page.name}}
    </a>
</div>

<div class="ui container">
    <div class="ui large secondary menu">
        <div class="item">
            <i if="menu" class="sidebar icon"></i>
        </div>
        <div class="item">
            <img src="{{page_icon}}" alt="" style="margin-right: 15px">
            {{page_title}}
        </div>

        <div class="right menu">
            <a class="ui item" onclick="UiCore.switchTheme()">
                <i class="adjust icon"></i>
            </a>
            <a if="logged" class="ui item" onclick="TopBar.logout()">
                Déconnexion
            </a>
        </div>
    </div>
</div>
