.regular-box {
    max-width: 80%;
    max-height: 80%;
    margin-right: auto !important;
    margin-left: auto !important;
}

.container {
    width: 95% !important;
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(220, 220, 220, 0.5) rgba(170, 170, 170, 0.5);
}

*::-webkit-scrollbar {
    width: -webkit-min-content;

}

*::-webkit-scrollbar-track {
    background:rgba(220, 220, 220, 0.5);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(170, 170, 170, 0.5);
}
