JQUERY="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"
FOMANTIC="https://github.com/fomantic/Fomantic-UI/archive/refs/heads/master.zip"
JSONRPC="https://github.com/alyrow/simple-jsonrpc-js/raw/master/dist/simple-jsonrpc-js.min.js"
SVG="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.5.0/svg.min.js"
SVG_PAN_ZOOM="https://github.com/bumbu/svg-pan-zoom/raw/3.6.1/dist/svg-pan-zoom.min.js"
